@font-face {
  font-family: Inter;
  src: url(../Fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue-king: #12499a;
  --dark-blue-king: #113a78;
  --extreme-dark-blue-king: #133b72;
  --blue-hover: #0d274e;
  --just-white: #fff;
  --gray-separator: #bbb;
  --elegant-gray: #808080;
  --shadow-elegant-gray: #606060;
  --naranja-br: #f28705;
}

html {
  font-size: 62.5%;
  font-family: "Inter";
  font-style: normal;
  scroll-behavior: smooth;
}

/* ---------------------------------------------------------------
------------------------ HEADER -------------------------------
--------------------------------------------------------------- */

header {
  position: relative;
  font-family: "Inter", sans-serif;
  color: var(--just-white);
  box-shadow: 3px;
}

.header-nav {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 17px;
  background-color: var(--blue-king);
  display: inline;
  align-items: center;
  width: 100%;
  padding: 0px 0px;
  justify-content: space-evenly;
  font-size: 2.2rem;
  position: fixed;
  z-index: 1;
  -webkit-box-shadow: 1px -7px 19px 9px rgba(0, 0, 0, 0.34);
  box-shadow: 1px -7px 19px 9px rgba(0, 0, 0, 0.34);
}

.Hotelcom {
  padding: 20px;
  display: inline-block;
  margin-left: 10px;
}

.Hotelcom a {
  color: var(--just-white);
  text-decoration: none;
}

.button-responsive-menu {
  position: relative;
  border: 2px solid var(--just-white);
  border-radius: 7px;
  width: 38px;
  height: 38px;
  padding: 6px;
  margin-top: 9px;
  margin-right: 30px;
  float: right;
}

#check-navbar {
  display: none;
}

@media (max-width: 500px) {
  .header-navbar {
    display: none;
    position: fixed;
  }

  .header-navbar ul {
    background-color: var(--dark-blue-king);
    width: 100%;
  }

  .header-navbar li {
    text-align: center;
    list-style: none;
    border: 1px solid var(--blue-king);
  }

  .header-navbar li a {
    color: var(--just-white);
    text-decoration: none;
    display: inline-block;
    padding: 30px;
    width: 100%;
  }

  .header-navbar li:hover {
    background-color: var(--blue-king);
  }

  .header-navbar li a:hover {
    color: var(--blue-hover);
  }
}

.button-responsive-menu:hover {
  background-color: var(--dark-blue-king);
  border: 2px solid var(--extreme-dark-blue-king);
}

/* ACÁ IBA EL CODIGO DEL HEADER  */

#check-navbar:checked~.header-navbar {
  display: block;
  width: 100%;
}

/* ---------------------------------------------------------------
  -------------------TEXTO Y BOTON del HEADER ----------------------
  --------------------------------------------------------------- */

@media (max-width: 500px) {
  header .header-title {
    height: 430px;
    background-image: url(../Assets/images/phone/header-bead.webp);
  }
}

@media (min-height: 740px) {
  header .header-title {
    height: 545px;
  }
}

header .header-title {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  align-items: center;
}

.header-title .header-title--capa {
  width: 100%;
  height: 300px;
  background: linear-gradient(0deg,
      rgba(67, 162, 207, 0) 0%,
      rgba(0, 0, 0, 0.8) 100%);
}

.header--title__body {
  animation-name: slide-title;
  animation-duration: 1s;
}

@keyframes slide-title {
  from {
    margin-right: 100%;
  }
}

.header-title h1 {
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  width: 48px;
  color: var(--text-header);
  position: relative;
  bottom: 160px;
  /* right: 40%; */
  left: calc(30% - 145px);
}

.header-title p {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.5rem;
  color: var(--text-header);
  width: 300px;
  position: relative;
  bottom: 160px;
  /* right: 40%; */

  left: calc(30% - 145px);
}

@media (min-width: 500px) {

  .header--title__body {
    animation-name: slide-title;
    animation-duration: 1s;
  }

  @keyframes slide-title {
    from {
      margin-right: 100%;
    }

    to {
      margin-right: 0;
    }
  }

  .header--title__body {
    margin: 0 auto;
  }

  .header-title h1 {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 3rem;
    color: var(--text-header);
    width: 48px;
    position: relative;
    bottom: 160px;
    /* left: calc(50% - 75px); */
  }

  .header-title p {
    font-weight: 600;
    font-size: 2.8rem;
    line-height: 2.3rem;
    width: 400px;
    color: var(--text-header);
    position: relative;
    bottom: 160px;

    /* left: calc(50% - 75px); */
  }
}

header .header--button {
  display: inline-block;
  position: absolute;
  text-decoration: none;
  font-weight: 700;
  font-size: 2rem;
  text-align: center;
  color: var(--just-white);
  width: 184px;
  height: 48px;
  -webkit-box-shadow: -1px 2px 12px 2px rgba(0, 0, 0, 0.64);
  box-shadow: -1px 2px 12px 2px rgba(0, 0, 0, 0.64);
  background: var(--blue-king);
  margin: -25px calc(50% - 90px);
  margin-bottom: 15px;
  border-radius: 25px;
  padding-top: 12px;

  animation-duration: 1s;
  animation-name: slide-button;
}

@keyframes slide-button {
  from {
    left: 50%;
  }

  to {
    left: 0%;
  }
}

.header--button:hover {
  background-color: var(--extreme-dark-blue-king);
  color: var(--just-white);
}

/* ---------------------------------------------------------------
--------------------------- MAIN ---------------------------------
--------------------------------------------------------------- */

main {
  height: auto;
}

.section-separator {
  width: 75%;
  margin: 30px auto;
  margin-top: 50px;
  background-color: var(--elegant-gray);
  color: var(--gray-separator);
  border-radius: 1px;
}

/*----------------------------------------------------------------
--------------------- section SERVICES ---------------------------
--------------------------------------------------------------- */

.main-section-services h2 {
  font-size: 2.6rem;
  font-weight: bold;
  color: var(--elegant-gray);
  display: inline-block;
  position: relative;
  left: 50px;
  margin-bottom: 25px;
}

.services-cards-container {
  animation-duration: 1s;
  animation-name: slide-card;
}

@keyframes slide-card {
  from {
    margin-left: 100%;
    padding-left: 1000px;
  }
}

.services-card {
  width: 260px;
  height: 232px;
  background: var(--just-white);
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 30px auto;
  padding: 0px 15px;
}

.logo-services {
  display: inline-flex;
  margin: 10px 0 0 5px;
  width: 40px;
  height: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.services-card .services--card-title {
  display: inline-flex;
  font-size: 2rem;
  font-weight: 800;
  color: var(--elegant-gray);
  position: relative;
  margin-left: 5px;
  bottom: 12px;
}

.bed {
  background-image: url(../Assets/Icons/PNG/Cama.png);
}

.menu {
  background-image: url(../Assets/Icons/PNG/Tapa.png);
}

.park {
  background-image: url(../Assets/Icons/PNG/Rodadero.png);
}

.key {
  background-image: url(../Assets/Icons/PNG/Llave.png);
}

.services-card .services--card-body {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.6rem;
  width: 230px;
  position: relative;
  top: 4px;
  color: var(--shadow-elegant-gray);
}

/*----------------------------------------------------------------
--------------------- section PHOTOS -----------------------------
--------------------------------------------------------------- */

main .main-section-photos-dinamic {
  background-color: rgb(216, 216, 216);
  height: 600px;
}

/*----------------------------------------------------------------
--------------------- section EVENTS -----------------------------
--------------------------------------------------------------- */

main .main-section-events {
  background-color: var(--blue-king);
  color: var(--just-white);
  display: flex;
  flex-direction: column;
}

.main-section-events .event-container {
  margin: 15px auto 50px;
  align-self: center;
  position: relative;
}

.event-container .picture {
  background-color: var(--gray-separator);
  width: 320px;
  height: 177px;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: local;
  margin-bottom: 17px;
  -webkit-box-shadow: 1px 2px 15px 0px rgba(0, 0, 0, 0.61);
  box-shadow: 1px 2px 15px 0px rgba(0, 0, 0, 0.61);
  animation: events-pictures-show 1.4s;
}

@keyframes events-pictures-show {
  0% {
    width: 0px;
  }

  40% {
    width: 130px;
  }
}


.event-container .boda {
  margin-top: -15px;
  background-image: url(../Assets/images/phone/events-boda-320px.webp);
}

.event-container .seminarios {
  height: 213px;
  background-image: url(../Assets/images/phone/events-seminarios-320px.webp);
}

.event-container .gala {
  height: 185px;
  background-image: url(../Assets/images/phone/events-gala-320px.webp);
}

@media (min-width: 413px) {
  .event-container .picture {
    width: 414px;
    height: 230px;
  }

  .event-container .boda {
    margin-top: -15px;
    background-image: url(../Assets/images/phone/events-Boda-441px.webp);
  }

  .event-container .seminarios {
    background-image: url(../Assets/images/phone/events-seminarios-441px.webp);
  }

  .event-container .gala {
    background-image: url(../Assets/images/phone/events-gala-441px.webp);
  }
}

/* AÑADIR MEDIAQUERY PARA MOVIL DESDE 441PX */

.event-container .event-body {
  width: 200px;
  position: relative;
}

.event-container .left-body {
  left: calc(8%);
}

.event-container .right-body {
  right: calc(-28%);
  text-align: right;
}

/* @media (min-width: 413px) {
  .event-container .right-body {webp
    left: calc(45%);
    text-align: right;
  }
} */

.event-body h2 {
  font-size: 2.2rem;
}

.event-body hr {
  height: 5px;
  border-radius: 4px;
  margin: 10px auto 10px -5px;
  background-color: var(--naranja-br);
}

.event-body .first-body-hr {
  width: 55%;
}

.event-body .second-body-hr {
  width: 82%;
  margin: 10px -5px 10px auto;
  background-color: var(--naranja-br);
}

.event-body .third-body-hr {
  width: 90%;
}

.event-body p {
  font-size: 1.4rem;
}

.main-section-logo {
  background-color: #e7e7e7;

  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-logo-img {
}





.menu-contact {}