@media (max-width: 800px) {
  .header-navbar {
    display: none;
    position: fixed;
  }
  .header-navbar ul {
    background-color: #164c9e;
    width: 100%;
  }

  .header-navbar li {
    text-align: center;
    list-style: none;
    width: 100%;
    padding: 30px;

    border: 1px solid var(--blue-king);
  }

  .header-navbar li a {
    color: #ffffff;
    padding: 24px;
    text-decoration: none;
  }

  .header-navbar li:hover {
    background-color: #175bc1;
  }
  .header-navbar li a:hover {
    color: #0d274e;
  }

  /* ---------------------------------------------------------------
----------------------- TEXTO Y BOTON ----------------------------
--------------------------------------------------------------- */
  header .header-title {
    min-height: 580px;
    background-image: url(../Assets/images/tablet/header-bk-1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    align-items: center;
  }
}

/* ---------------------------------------------------------------
------------------------ SERVICES --------------------------------
--------------------------------------------------------------- */
@media (max-width: 676px) {
  .services-cards-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 30px;
  }
  .services-cards-container {
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
  }
}

.main-section-services h2 {
  left: calc(20%);
}
